@use "../../../assets/styles/_mixins.scss";

.organisers-body {
    position: relative;
}

.organisers-heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

    @include mixins.media(md) {
        font-size: 76px;
        text-align: center;
    }
}

.organisers-list {
    display: grid;
    align-items: center;
    gap: 32px;
    margin: 32px auto 0;

    @include mixins.media(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include mixins.media(lg) {
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.organisers-card {
    position: relative;
    border-radius: 22px;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        width: 84px;
        height: 84px;
        background-image: url('./img/mask_linkedin.png');
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: -1px;
    }
}

.organisers-volkova {
    &::after {
        width: 272px;
        height: 180px;
        background-image: url('./img/mask_volkova.png');
    }
}

.organisers-pavlop {
    &::after {
        width: 132px;
        height: 126px;
        background-image: url('./img/mask_pavlov.png');
    }
}

.organisers-savelyev {
    &::after {
        width: 202px;
        height: 126px;
        background-image: url('./img/mask_savelyev.png');
    }
}

.organisers-palamarchuk {
    @include mixins.media(lg) {
        grid-column-start: 2;
    }

    &::after {
        width: 206px;
        height: 126px;
        background-image: url('./img/mask_palamarchuk.png');
    }
}

.organisers-card-img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
    height: 420px;
    min-height: 420px;
    border-radius: 22px;

    @include mixins.media(md) {
        aspect-ratio: initial;
    }
}

.organisers-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.organisers-card-heading {
    font-size: 30px;
    font-weight: 900;
    padding: 16px 16px 0;
    line-height: 1;
    max-width: 160px;
}

.organisers-card-description {
    min-width: 160px;
    max-width: 260px;
    padding: 12px 16px 8px;
}

.organisers-social {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 16px 16px;
    background-color: mixins.rgb-color(neutral-50);
}

.organisers-social-item {
    display: block;
    color: mixins.rgb-color(neutral-950);
    padding: 8px;
    border: 1px solid mixins.rgb-color(neutral-950);
    border-radius: 10px;

    &:hover {
        color: mixins.rgb-color(yellow-500);
        border-color: mixins.rgb-color(yellow-500);
    }
}