@use "../../../assets/styles/_mixins.scss";

.organisers-body {
    position: relative;
}

.organisers-heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

    @include mixins.media(md) {
        font-size: 76px;
        text-align: center;
    }
}

.organisers-list {
    display: grid;
    align-items: center;
    gap: 32px;
    margin: 32px auto 0;

    @include mixins.media(sm) {
        grid-template-columns: 1fr 1fr;
    }

    @include mixins.media(lg) {
        gap: 40px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.organisers-card {
    position: relative;
    border-radius: 22px;

    &::before {
        content: "";
        position: absolute;
        top: -1px;
        right: -1px;
        width: 84px;
        height: 84px;
        background-image: url('../../../core/mock/images/organisers/mask_linkedin.png');
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -1px;
        left: -1px;
    }
}

.organisers-mask {
    position: absolute;
    bottom: -2px;
    left: 0;
    pointer-events: none;
}

.organisers-card-img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
    height: 420px;
    min-height: 420px;
    border-radius: 22px;

    @include mixins.media(md) {
        aspect-ratio: initial;
    }
}

.organisers-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.organisers-card-heading {
    font-size: 30px;
    font-weight: 900;
    padding: 16px 16px 0;
    line-height: 1;
    max-width: 160px;
}

.organisers-card-description {
    min-width: 160px;
    max-width: 260px;
    padding: 12px 16px 8px;
}
