@use "../../../assets/styles/_mixins.scss";

.organisers-body {
    position: relative;
}

.organisers-heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

    @include mixins.media(md) {
        font-size: 76px;
        text-align: center;
    }
}

.organisers-list {
    display: grid;
    align-items: center;
    gap: 40px;
    margin: 32px auto 0;

    @include mixins.media(sm) {
        gap: 24px;
        grid-template-columns: 1fr 1fr;
    }

    @include mixins.media(lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.organisers-card {
    position: relative;
    border-radius: 22px;
}

.organisers-card-img {
    display: block;
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    object-position: top;
    height: 380px;
    min-height: 380px;
    border-radius: 22px;

    @include mixins.media(md) {
        aspect-ratio: initial;
    }
}

.organisers-info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.organisers-card-heading {
    position: relative;
    font-size: 30px;
    font-weight: 900;
    padding: 16px 16px 4px 0;
    line-height: 1;
    width: fit-content;
    background-color: var(--cl-background);
    border-top-right-radius: 16px;

    @include mixins.media(md) {
        padding: 16px 16px 4px;
    }
}

.organisers-card-description {
    position: relative;
    min-width: 160px;
    width: 100%;
    padding: 8px 16px 8px 0;
    background-color: var(--cl-background);

    @include mixins.media(md) {
        padding: 8px 16px;
    }
}

.organisers-card-heading-top-corner {
    position: absolute;
    top: -16px;
    left: 0;
    color: var(--cl-background);
}

.organisers-card-heading-bottom-corner {
    position: absolute;
    right: -16px;
    bottom: 0;
    color: var(--cl-background);
}

.organisers-card-description-right-corner {
    position: absolute;
    top: -16px;
    right: 0;
    color: var(--cl-background);
}
