@use "../../../assets/styles/_mixins.scss";

.gallery-grid {
    max-width: 1600px;
    margin: 0 auto 120px;
    padding: 12px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 4px;

    @include mixins.media(md) {
        padding: 20px;
        gap: 8px;
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}

.gallery-grid-item-image {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        z-index: 1;
    }
}
