.home-intro-img {
    width: 758px;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.home-intro-subtitle {
    font-size: 32px;
    font-weight: 400;
    max-width: 520px;
    margin: 32px auto 0;
}

.home-intro-button {
    margin-top: 52px;
    width: 340px;
    max-width: 100%;
}
