@use "../../../assets/styles/_mixins.scss";

.about-community-body {
    position: relative;
}

.about-community-info {
    position: relative;
    margin-top: 16px;

    @include mixins.media(sm) {
        display: flex;
        justify-content: space-between;
        gap: 36px;
    }

    @include mixins.media(lg) {
        justify-content: flex-end;
        padding-top: 84px;
        margin-right: -32px;
    }

    @include mixins.media(xl) {
        padding-top: 60px;
    }
}

.about-community-description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12px;

    @include mixins.media(sm) {
        max-width: 336px;
        margin-top: 0;
    }
}

.about-community-heading {
    font-size: 30px;
    font-weight: 900;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include mixins.media(md) {
        font-size: 76px;
    }

    @include mixins.media(xl) {
        position: absolute;
        top: 120px;
        left: 32px;
        max-width: 420px;
        text-shadow: 4px 2px #000, -1px -1px #000;
    }
}

.about-community-img-bg {
    position: absolute;
    left: 0;
    padding: 1px;

    @include mixins.media(null, lg) {
        display: none;
    }
}

.about-community-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-top: auto;
    margin-bottom: auto;

    @include mixins.media(sm) {
        width: 320px;
    }

    @include mixins.media(md) {
        width: 380px;
    }

    @include mixins.media(xl) {
        width: 432px;
    }
}

.about-community-text {
    font-size: 18px;
    text-transform: uppercase;
}

.about-community-social {
    position: relative;
    padding: 0 24px;
    margin: 92px 0 36px;
    width: 100%;
    border-left: 1px solid var(--cl-primary);
    border-right: 1px solid var(--cl-primary);

    @include mixins.media(sm) {
        width: auto;
        padding: 20px;
        margin: 60px 0 20px;
    }

    @include mixins.media(lg) {
        padding: 36px;
        margin: 60px 0 32px;
    }
}

.about-community-img-bg-top {
    position: absolute;
    left: -0.5px;
    top: 0.5px;
    width: calc(100% + 1.5px);
    height: auto;
    z-index: -1;
    transform: translateY(-100%);
}

.about-community-img-bg-bottom {
    position: absolute;
    left: -0.5px;
    bottom: 0.5px;
    width: calc(100% + 1.5px);
    height: auto;
    z-index: -1;
    transform: translateY(100%);
}

.about-community-social-link {
    font-size: 24px;
    color: var(--cl-primary);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }
}

.about-community-social-line {
    display: block;
    margin-top: 36px;
    margin-bottom: 36px;
    width: 100%;
    height: 1px;
    background: var(--cl-primary);
}
