@use "../../../assets/styles/_mixins.scss";

.our-partners {
    position: relative;
}

.our-partners-carousel {
    display: flex;
    overflow: hidden;
    margin: 0 -36px;
    border-radius: 12px;
    box-shadow: inset 2px 2px 12px rgba(255, 255, 255, .1);

    &:hover .our-partners-list {
        animation-play-state: paused;
    }
}

.our-partners-list {
    display: flex;
    text-wrap: nowrap;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: carousel 16s linear infinite;
}

.our-partners-item {
    display: block;
}

.our-partners-link {
    display: block;
    padding: 12px 20px;
    margin: 12px 20px;
    min-width: 180px;
    border-radius: 8px;
    transition: background-color .1s;
    border: 1px solid transparent;

    @include mixins.media(null, md) {
        padding: 8px 12px;
        margin: 6px 12px;
        min-width: 140px;
    }

    &:hover {
        border-color: var(--cl-primary);
        background-color: rgba(255, 255, 255, .2);
    }
}

.our-partners-img {
    width: auto;
    margin: 0 auto;

    @include mixins.media(null, md) {
        height: 32px;
    }
}

@keyframes carousel {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}