@use "../../../assets/styles/_mixins.scss";

.gallery-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.gallery-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
}

.gallery-modal-img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: calc(100% - 96px);
    width: auto;
    height: auto;
    object-fit: contain;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery-modal-alt {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background-color: var(--cl-background);
    padding: 12px;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.gallery-modal-close,
.gallery-modal-prev,
.gallery-modal-next {
    position: absolute;
    z-index: 100;
    opacity: 0.5;
}

.gallery-modal-close {
    top: 20px;
    right: 20px;
}

.gallery-modal-prev {
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.gallery-modal-next {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}