@use "../../../assets/styles/_mixins.scss";

.join-us {
    margin-bottom: 60px;

    @include mixins.media(md) {
        text-align: center;
    }
}

.join-us-heading {
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--cl-primary);
    line-height: 1.2;

    @include mixins.media(md) {
        font-size: 96px;
    }
}

.join-us-button {
    margin-top: 20px;
    width: 100%;

    @include mixins.media(sm) {
        width: auto;
    }
}
