@use "../../../assets/styles/_mixins.scss";

.call-for-speakers-body {
    display: grid;

    @include mixins.media(lg) {
        grid-template-columns: 14fr 10fr;
        gap: 40px;
    }
}

.call-for-speakers-heading {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;

    @include mixins.media(lg) {
        font-size: 62px;
    }
}

.call-for-speakers-subheading {
    display: none;
    font-size: 62px;
    text-transform: uppercase;

    @include mixins.media(xl) {
        display: block;
    }
}

.call-for-speakers-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mixins.media(sm) {
        align-items: flex-start;
    }
}

.call-for-speakers-description {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

.call-for-speakers-button {
    margin-top: 12px;
    margin-bottom: 12px;
}
