@use "../../../assets/styles/mixins.scss";

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-width: 1280px;
    padding: 20px 16px 36px;
    margin-right: auto;
    margin-left: auto;
    gap: 24px;
    font-size: 12px;
    text-align: center;

    @include mixins.media(md) {
        text-align: left;
        align-items: stretch;
        padding: 20px 72px 40px;
    }

    @include mixins.media(lg) {
        flex-direction: row;
        align-items: flex-start;
        gap: 72px;
        padding: 20px 84px 36px;
    }
}

.footer-additional {
    background-color: mixins.rgb-color(neutral-0);
}

.footer-additional-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    max-width: 1280px;
    padding: 20px 16px;
    margin-right: auto;
    margin-left: auto;
    gap: 24px;
    text-transform: uppercase;
    font-size: 12px;

    @include mixins.media(md) {
        flex-direction: row;
        padding: 20px 72px;
    }

    @include mixins.media(lg) {
        padding: 18px 84px;
    }
}

.footer-nav {
    display: grid;
    gap: 20px;

    @include mixins.media(md) {
        margin-top: 12px;
        // grid-template-columns: 1fr auto;
        width: 100%;
    }

    @include mixins.media(lg) {
        margin-top: 32px;
        width: 556px;
    }
}

.footer-logo {
    display: block;
    font-size: 30px;

    @include mixins.media(md) {
        font-size: 76px;
    }

    @include mixins.media(lg) {
        max-width: 278px;
    }
}

.footer-nav-links {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.footer-nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
}

.footer-nav-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    text-transform: uppercase;
    text-align: center;

    @include mixins.media(md) {
        text-align: right;
        align-items: flex-start;
    }

    @include mixins.media(lg) {
        align-items: flex-end;
    }
}

.footer-social {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 20px;
}