@use "../../../assets/styles/_mixins.scss";

.block {
    padding-top: 24px;
    padding-bottom: 24px;

    @include mixins.media(md) {
        padding: 80px 52px;
    }
}

.block-body {
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 16px;
    padding-left: 16px;

    @include mixins.media(md) {
        padding-right: 32px;
        padding-left: 32px;
    }
}
