.organisers-social {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 0 16px 16px;
  background-color: var(--cl-background);
  border-bottom-left-radius: 16px;
}

.organisers-social-item {
  display: block;
  color: var(--cl-text);
  padding: 8px;
  border: 1px solid var(--cl-text);
  border-radius: 10px;

  &:hover {
    color: var(--cl-primary);
    border-color: var(--cl-primary);
  }
}

.organisers-social-corner-top-left {
  position: absolute;
  top: 0;
  left: -16px;
  color: var(--cl-background);
}

.organisers-social-corner-bottom-right {
  position: absolute;
  bottom: -16px;
  right: 0;
  color: var(--cl-background);
}
