.button {
    box-shadow: 2px 4px 0 0 #000;
    color: var(--cl-background);
    border: 1px solid var(--cl-background);
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    outline-offset: 3px;
    outline-width: 2px;

    &:hover {
        opacity: 0.8;
    }
}

.button_medium {
    padding: 8px 30px;
}

.button_large {
    font-size: 30px;
    padding: 14px 12px;
}

.button_neutral {
    background-color: var(--cl-neutral);
}

.button_primary {
    background-color: var(--cl-primary);
}

.button_secondary {
    background-color: var(--cl-secondary);
}
