@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --cl-background: #001020;
  --cl-text: #FFFFFF;
  --cl-primary: #FFCE13;
  --cl-secondary: #FC851E;
  --cl-neutral: #B0B0B0;
}

html, body {
  scroll-behavior: smooth;
}

body {
  background-color: var(--cl-background);
  color: var(--cl-text);
}
