@use "../assets/styles/_mixins.scss";

:root {
  --cl-neutral-0: 0 0 0;
  --cl-neutral-50: 0 16 32;
  --cl-neutral-100: 15 23 43;
  --cl-neutral-200: 29 41 61;
  --cl-neutral-300: 49 65 88;
  --cl-neutral-400: 69 85 108;
  --cl-neutral-500: 98 116 142;
  --cl-neutral-950: 255 255 255;
  --cl-yellow-400: 253 199 0;
  --cl-yellow-500: 255 206 19;
  --cl-blue-400: 81 162 255;
  --cl-blue-500: 43 127 255;
  --cl-orange-400: 255 137 4;
  --cl-orange-500: 255 105 0;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
  color-scheme: dark;
}

body {
  background-color: mixins.rgb-color(neutral-50);
  color: mixins.rgb-color(neutral-950);
  white-space: pre-wrap;
}

main {
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

svg,
img {
  display: block;
}

button,
input {
  font-family: var(--font-roboto);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}