@use "../../../assets/styles/_mixins.scss";

.contributors-body {
    position: relative;
}

.contributors-heading {
    font-size: 30px;
    font-weight: 900;
    z-index: 1;
    text-transform: uppercase;
    margin-bottom: 24px;

    @include mixins.media(md) {
        font-size: 76px;
    }
}

.contributors-list {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(48px, 1fr) );
    gap: 8px;
    list-style: none;
    padding: 0;

    @include mixins.media(md) {
        grid-template-columns: repeat( auto-fit, minmax(80px, 1fr) );
    }
}

.contributors-item {
    width: 100%;
    aspect-ratio: 1 / 1;
    mask: url(#displacementMaskStatic);
    -webkit-mask: url(#displacementMaskStatic);

    &:hover {
        mask: url(#displacementMaskDynamic);
        -webkit-mask: url(#displacementMaskDynamic);
    }
}

.contributors-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
}
