.nav-link {
    color: var(--cl-text);
    text-transform: uppercase;
    text-decoration: none;
    outline-offset: 3px;
    outline-width: 2px;

    &:hover {
        color: var(--cl-primary);
    }
}

.nav-link_light {
    font-weight: 400;
}

.nav-link_bold {
    font-weight: 900;
}

.nav-link_small {
    font-size: 12;
}

.nav-link_medium {
    font-size: 16;
}

