@use "../../../assets/styles/mixins.scss";

.header {
    background: #00102060;
    backdrop-filter: blur(4px);
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 16px;

    @include mixins.media(md) {
        padding: 20px 72px;
    }

    @include mixins.media(lg) {
        padding: 20px 84px;
    }
}

.header-logo {
    z-index: 10;

    &:hover {
        opacity: 0.8;
    }
}

.header-nav {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    z-index: 1;
}

.header-nav-link {
    padding-top: 8px;
    padding-bottom: 8px;
}
