@use "../../../assets/styles/_mixins.scss";

.how-to-help-title {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;

    @include mixins.media(md) {
        font-size: 48px;
    }
}

.how-to-help-list {
    display: grid;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin-top: 56px;

    @include mixins.media(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.media(xl) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.how-to-help-item {
    text-align: center;
    padding: 20px 24px;
    margin: 0;
    border-radius: 12px;
    background-color: mixins.rgb-color(neutral-300, 0.3);
    backdrop-filter: blur(4px);
    border: 1px solid transparent;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        border-color: mixins.rgb-color(yellow-500);
        box-shadow: 0 0 10px 0 mixins.rgb-color(yellow-500, 0.3);
        transition: border-color 0.3s ease, box-shadow 0.3s ease 0.3s;
    }

    &:hover .how-to-help-item-icon-wrapper {
        background-color: mixins.rgb-color(yellow-500);
        color: mixins.rgb-color(neutral-50);
    }
}

.how-to-help-item-icon-wrapper {
    background-color: mixins.rgb-color(neutral-50);
    padding: 16px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    margin: 0 auto;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.how-to-help-item-title {
    margin-top: 20px;
}

.how-to-help-item-description {
    margin-top: 12px;
}