@use "../../../assets/styles/_mixins.scss";

.people-intro {
    text-align: center;
}

.people-intro-heading {
    font-size: 40px;

    @include mixins.media(md) {
        font-size: 56px;
    }
}

.people-intro-subheading {
    font-size: 20px;
    max-width: 720px;
    margin: 32px auto 0;

    @include mixins.media(md) {
        font-size: 28px;
    }
}
