@use "../../../assets/styles/_mixins.scss";

.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 1px solid currentColor;
    border-radius: 10px;
    cursor: pointer;
    outline-offset: 3px;
    outline-width: 2px;
}

.icon-button_transparent {
    background: none;
    color: mixins.rgb-color(neutral-950);
    border-color: transparent;

    &:hover {
        color: mixins.rgb-color(yellow-500);
    }
}

.icon-button_neutral,
.icon-button:disabled {
    background-color: mixins.rgb-color(neutral-500);
    color: mixins.rgb-color(neutral-950);
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.icon-button_light {
    background-color: mixins.rgb-color(neutral-950);
    color: mixins.rgb-color(neutral-50);
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.icon-button_primary {
    background-color: mixins.rgb-color(yellow-500);
    color: mixins.rgb-color(neutral-950);
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}

.icon-button_secondary {
    background-color: mixins.rgb-color(orange-400);
    color: mixins.rgb-color(neutral-950);
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }
}