@use "../../../assets/styles/_mixins.scss";

.community-gallery-list {
    display: grid;
    list-style: none;
    gap: 20px;
    padding: 0;

    @include mixins.media(sm) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.media(lg) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.community-gallery-card {
    border-radius: 12px;
    overflow: hidden;
}

.community-gallery-card:nth-child(1) {
    grid-row-start: 1;

    @include mixins.media(lg) {
        grid-column: 2 / span 2;
        grid-row-start: auto;
    }
}

.community-gallery-card:nth-child(2) {
    @include mixins.media(sm, lg) {
        grid-column-start: 1;
        grid-row: 1 / span 2;
    }

    @include mixins.media(lg) {
        grid-column-start: 1;
        grid-row-start: 1;
    }
}

.community-gallery-card:nth-child(4) {
    @include mixins.media(lg) {
        grid-column: 1 / span 2;
        grid-row: 3 / span 2;
    }
}

.community-gallery-card:nth-child(6) {
    @include mixins.media(lg) {
        grid-column: 3 / span 2;
        grid-row: 2 / span 2;
    }
}

.community-gallery-card-head {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    text-transform: uppercase;

    @include mixins.media(lg) {
        align-items: center;
        text-align: center;
        font-size: 32px;
    }

    @include mixins.media(xl) {
        font-size: 40px;
    }

    &:hover .community-gallery-card-primary {
        color: var(--cl-primary);
    }
}

.community-gallery-card-primary {
    transition: color 0.3s ease;
}

.community-gallery-card-button {
    margin-top: 12px;
}

.community-gallery-card-img {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 12;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;

    @include mixins.media(null, sm) {
        max-height: 280px;
    }

    &:hover {
        transform: scale(1.2);
    }
}

.community-gallery-card-view-all {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--cl-primary);
    text-align: center;
    height: 100%;
    padding: 12px;
    border: 3px solid var(--cl-primary);
    border-radius: 12px;
    transition: color 0.3s ease, background-color 0.3s ease;

    &:hover {
        color: var(--cl-background);
        background-color: var(--cl-primary);
    }
}
