@use "../../../assets/styles/_mixins.scss";

.speakers-list-cards {
    display: grid;
    list-style: none;
    padding: 0;
    gap: 30px;

    @include mixins.media(md) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include mixins.media(lg) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.speakers-list-card {
    border-radius: 20px;
    max-height: 430px;
    margin: 0;
    overflow: hidden;
    position: relative;
    background-color: #FFCE13;

    &:nth-child(2n) {
        background-color: #B0E0E6;
    }
}

.speakers-list-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: var(--cl-text);
    text-decoration: none;
    position: relative;
}

.speakers-list-info {
    padding: 24px;
    position: relative;
    flex: 0 0 auto;
}

.speakers-list-name {
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 8px 0;
    color: black;
    line-height: 1.2;
}

.speakers-list-company {
    font-family: monospace;
    font-size: 14px;
    margin: 0 0 4px 0;
    color: black;
    line-height: 1.3;
}

.speakers-list-location {
    font-family: monospace;
    font-size: 14px;
    margin: 0;
    color: black;
    line-height: 1.3;
}

.speakers-list-social-icon {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 20px;
    height: 20px;
}

.speakers-list-visual {
    flex: 1;
    overflow: hidden;
    padding: 20px;
}

.speakers-list-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

